<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis cupiditate iure accusantium quam illum voluptatibus earum! Corrupti iste a tempora ad aliquid voluptate, soluta perspiciatis dicta similique cupiditate commodi enim.</p>
	
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui corrupti doloribus veritatis consectetur eius totam deleniti nisi commodi reprehenderit? Illo excepturi asperiores labore. Vero optio facilis itaque, sapiente architecto animi?</p>
	
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui corrupti doloribus veritatis consectetur eius totam deleniti nisi commodi reprehenderit? Illo excepturi asperiores labore. Vero optio facilis itaque, sapiente architecto animi?</p>

	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui corrupti doloribus veritatis consectetur eius totam deleniti nisi commodi reprehenderit? Illo excepturi asperiores labore. Vero optio facilis itaque, sapiente architecto animi?</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>